@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
:root{
    --color-1: #192a32;
    --color-2: #5bc4bf;
    --color-3: #efb238;
    --color-4: #a6bcc6;
    --color-5: #11212a;
    --color-6: #1f3540;
    --color-7: #1a2c35;
}

body{
    background-color: var(--color-1);
    color: var(--color-2);
    font-family: 'Roboto', sans-serif;
}

*{
    margin: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* CONTAINER */
.game-container{
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: 50%;
    width: auto;
}
/* HEADER */
.header{
    display: flex;
    height: 10%;
    width: 100%;
    gap: 1em;
}

.logo{
    display: flex;
    flex: 1;
    background-color: var(--color-6);
}

.round,
.logo{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.round,
.logo{
    background-color: var(--color-6);
    font-weight: 900;
    color: var(--color-4);
    border-radius: 10px;
    border-bottom: 5px solid var(--color-5);
}

.restart{
    flex: 1;
}

.round{
    font-size: .9em;
}

.round-counter{
    color: var(--color-3);
}

.logo img{
    height: 60%;
    width: auto;
}

/* PLAYGROUND */
.playground{
    display: flex;
    padding: 1em;
    flex: 1;
    height: 30%;
    width: 100%;
    background-color: var(--color-6);
    border-radius: 10px;
    border-bottom: 5px solid var(--color-5);
}

.playcontent{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}


.playcontent img{
    display: none;
    object-fit: contain;
    height: 100%;
    width: 100%;    
}

.vs{
    font-weight: 900;
    color: var(--color-3);
}

.playimage-container{
    display: flex;
    justify-content: center;
    height: 100%;
    flex: 1;

}

/* BUTTONS */
.button-container{
    display: flex;
    height: auto;
    align-items: center;
    justify-content: space-evenly;
    gap: 1em;
}

.button-container button{
    background-color: var(--color-6);
    border: none;
    border-bottom: 5px solid var(--color-5);
    border-radius: 10px;
    padding: .5em .7em;
    transition-timing-function: ease-out;
    transition: 90ms;
}

.button-container button:hover{
    border-bottom: 3px solid var(--color-5);
    background-color: var(--color-7);
}

.button-container button:active{
    background-color: var(--color-2);
    border-bottom: 3px solid var(--color-3);
}

.button-container img{
    height: 60px;
    width: 60px;
    object-fit: contain;
}

/* SCOREBOARD */
.scoreboard{
    display: flex;
    justify-content: space-around;
    gap: 1em;

}

.win,
.lost,
.ties{
    text-align: center;
    flex: 1;
    font-weight: 900;
    border-radius: 10px;
    padding: .3em 1em;
    color: #192a32;
    border-bottom: 5px solid var(--color-5);
}

.win{
    background-color: var(--color-2);
}

.ties{
    background-color: var(--color-4);
}

.lost{
    background-color: var(--color-3);
}

p{
    font-size: 10px;
    font-weight: 500;
}

/* pop up */
.pop-up{
    display: none;
    position: absolute;
    align-items: center;
    justify-content: center;
    background-color: #11212a6b;
    width: 100%;
    height: 100%;

}

.prompt-container{
    display: flex;
    flex-direction: column;
    font-weight: 900;
    align-items: center;
    gap: 1em;
    justify-content: center;
    width: 100%;
    height: 30%;
    background-color: var(--color-6);
}

.message{
    font-size: 12px;
    font-weight: 700;
    color: var(--color-4);
}

.big-message{
    font-size: 2em;
}

.play-again,
.go-to-code{
    color: var(--color-5);
    font-weight: 900;
    border-radius: 10px;
    border: none;
    padding: 1em 1em;
    margin: .5em;
}

.play-again{
    background-color: var(--color-3);
    border-bottom: 5px solid #b1790b;
}

.go-to-code{
    background-color: var(--color-4);
    border-bottom: 5px solid #717d83;
}


.play-again:hover,
.go-to-code:hover{
    transform: translateY(2%);
    border-bottom-width: 3px;
}

.play-again:hover{
    background-color: #d4a545;
}

.go-to-code:hover{
    background-color: #99a3a8;
}

.play-again:active,
.go-to-code:active{
    background-color: var(--color-2);
    border-bottom: 3px solid var(--color-3);
}
